.newOrangeLogo1Icon {
  position: relative;
  width: 235px;
  height: 201.4px;
  object-fit: cover;
}
.sunRosePallas {
  position: relative;
}
.logoTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 40px 0 0;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: left;
  font-size: 30px;
  color: var(--color-chocolate);
  font-family: var(--font-amita);
}
.leavesChild {
  position: relative;
  width: 43.17px;
  height: 74.88px;
}
.leaves {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.introduction,
.photoIcon {
  border-radius: var(--br-xl);
}
.introduction {
  border: 3px solid var(--color-white);
  background-color: rgba(0, 0, 0, 0.1);
  font-family: var(--font-amita);
  font-size: 14px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-8xs);
  align-items: center;
  justify-content: center;
}
.photoIcon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.vectorIcon {
  position: absolute;
  margin: 0 !important;
  top: -5.26px;
  left: -27.5px;
  width: 450px;
  height: 203px;
  z-index: 1;
}
.slideshow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menuChild,
.menuItem {
  position: absolute;
  margin: 0 !important;
  top: 93.42px;
  left: -27.5px;
  width: 105.4px;
  height: 71.42px;
  z-index: 0;
}
.menuItem {
  top: -10.88px;
  left: 324.53px;
  width: 101.31px;
  height: 144.32px;
  z-index: 1;
}
.sunflowerIcon {
  position: relative;
  width: 124.47px;
  height: 124.47px;
  z-index: 2;
}
.aboutMe {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-amita);
  color: var(--color-chocolate);
  text-align: center;
}
.button,
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-3xs);
  background-color: var(--color-white);
  border-radius: var(--br-81xl);
  flex-direction: row;
}
.links {
  align-self: stretch;
  flex-direction: column;
  gap: 5px;
  z-index: 3;
}
.sunflowerIcon1 {
  position: relative;
  width: 124.47px;
  height: 124.47px;
  z-index: 4;
}
.menu {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.about,
.iphone14ProMax1Landing {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-chocolate);
  padding: 0 27.5px 18px;
  justify-content: space-between;
}
.iphone14ProMax1Landing {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 925px;
  justify-content: flex-start;
}
